@if (data$ | async; as data) {
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign Up</h1>
          <p class="text=xs-center">
            <a [routerLink]="['/auth/login']">Have an account?</a>
          </p>
          @if (data.backendErrors) {
            <mc-backend-error-messages [backendErrors]="data.backendErrors"></mc-backend-error-messages>
          }
          <form [formGroup]="registerForm" (submit)="onSubmit()">
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Username" formControlName="username">
              @if (registerForm.get('username')?.hasError('required') && registerForm.touched) {
                <div class="error-message">This field is required</div>
              }
            </fieldset>
            <fieldset class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Email" formControlName="email">
              @if (registerForm.get('email')?.hasError('required') && registerForm.touched) {
                <div class="error-message">This field is required</div>
              }
              @if (registerForm.get('email')?.hasError('email') && registerForm.touched) {
                <div class="error-message">Email should be valid</div>
              }
            </fieldset>
            <fieldset class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Password"
                formControlName="password">
              @if (registerForm.get('password')?.hasError('required') && registerForm.touched) {
                <div class="error-message">This field is required</div>
              }
            </fieldset>
            <fieldset class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Repeat password"
                formControlName="repeatPassword">
              @if (registerForm.get('repeatPassword')?.hasError('required') && registerForm.touched) {
                <div class="error-message">This field is required</div>
              }
              @if (registerForm.get('repeatPassword')?.getError('passwordMismatch')) {
                <div class="error-message">Passwords do not match.</div>
              }
            </fieldset>
            <button [disabled]="data.isSubmitting" type="submit" class="btn btn-large btn-primary pull-xs-right">Sign
              Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
}