@if (data$ | async; as data) {
  <div class="article-page">
    <div class="banner">
      <div class="container">
        @if (data.article) {
          <h1>{{ data.article.title }}</h1>
          <div class="article-meta">
            <a [routerLink]="['/profiles', data.article.author.username]">
              <img [src]="data.article.author.image" alt="">
            </a>
            <div class="info">
              <a [routerLink]="['/profiles', data.article.author.username]">
                {{ data.article.author.username }}
              </a>
              <span class="data">{{ data.article.createdAt }}</span>
            </div>
            @if (data.isAuthor) {
              <a [routerLink]="['/articles', data.article.slug, 'edit']" class="btn btn-outline-secondary btn-sm">
                <i class="ion-edit"></i>
                Edit Article
              </a>
              <button (click)="onDelete()" class="btn btn-outline-danger btn-sm">
                Delete Article
              </button>
            }
          </div>
        }
      </div>
    </div>
    <div class="container page">
      @defer {
        @if (data.article) {
          <div class="row article-content">
            <div class="col-xs-12">
              <div>
                <p [innerHTML]="replaceNewlineToBrTags(data.article.body)"></p>
              </div>
              <mc-taglist [tags]="data.article.tagList"></mc-taglist>
            </div>
          </div>
        }
        @if (data.isLoading) {
          <mc-loading></mc-loading>
        }
      } @placeholder (minimum 1500ms) {
        <mc-loading></mc-loading>
      }
      @if (data.error) {
        <mc-error-message [message]="data.error"></mc-error-message>
      }
    </div>
  </div>
}